<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="html_services">
  <section class="ftco-section services-section">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-3 d-flex align-self-stretch ">
          <div class="media block-6 services d-block">
            <div class="icon"><span class="flaticon-resume"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Tìm kiếm hàng triệu việc làm</h3>
              <p>Một con sông nhỏ tên là Duden chảy qua nơi ở và nguồn cung cấp của họ.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ">
          <div class="media block-6 services d-block">
            <div class="icon"><span class="flaticon-team"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Dễ dàng quản lý công việc</h3>
              <p>Một con sông nhỏ tên là Duden chảy qua nơi ở và nguồn cung cấp của họ.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ">
          <div class="media block-6 services d-block">
            <div class="icon"><span class="flaticon-career"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Top Nghề nghiệp</h3>
              <p>Một con sông nhỏ tên là Duden chảy qua nơi ở và nguồn cung cấp của họ.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 d-flex align-self-stretch ">
          <div class="media block-6 services d-block">
            <div class="icon"><span class="flaticon-employees"></span></div>
            <div class="media-body">
              <h3 class="heading mb-3">Ứng viên Chuyên gia Tìm kiếm</h3>
              <p>Một con sông nhỏ tên là Duden chảy qua nơi ở và nguồn cung cấp của họ.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>