<html lang="vi" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="form_login">
    <h2 class="mb-4">Đăng nhập</h2>
    <form th:action="@{/authenticateTheUser}" method="post" class="p-4 border rounded">

        <div class="row form-group">
            <div class="col-md-12 mb-3 mb-md-0">
                <label class="text-black" for="username">Email</label>
                <input type="text" id="username" name="username" class="form-control" placeholder="Tên tài khoản" required>
            </div>
        </div>

        <div class="row form-group mb-4">
            <div class="col-md-12 mb-3 mb-md-0">
                <label class="text-black" for="password">Mật khẩu</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Mật khẩu" required>
            </div>
        </div>

        <div th:if="${param.error}" class="alert alert-danger" role="alert">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success" role="alert">
            You have been logged out.
        </div>

        <div class="row form-group">
            <div class="col-md-12">
                <input type="submit" value="Đăng nhập" class="btn px-4 btn-primary text-white">
            </div>
        </div>

    </form>
</div>